@import "tailwindcss";
@import "./styles/select.css";

:root {
    --primary: #0ea5a4;
    --tetiary: #1d4ed8;

    --light-gray: #d9dfe8;

    --border: #e5e7eb;
    --bg-main: #f1f5f9;
    --bg-surface: #f3f4f6;
    --bg-2: #c5d0dd;

    --success: #22c55e;
    --warning: #f59e0b;
    --danger: #ef4444;

    --muted: #6b7280;
    --text-main: #111827;
    --muted-blue: #dee7f4;

    --space-8: 2rem;
    --radius-2xl: 1.5rem;
}



@theme inline {
    --color-background: var(--bg-main);
    --font-raleway: var(--font-raleway), sans-serif;
    --color-foreground: var(--text-main);
    --color-background-2: var(--bg-2);

    --color-primary: var(--primary);
    --color-tertiary: var(--tetiary);

    --color-light-gray: var(--light-gray);

    --color-danger: var(--danger);
    --color-warning: var(--warning);
    --color-success: var(--success);
    --color-text-main: var(--text-main);
    --color-bg-surface: var(--bg-surface);

    --color-muted-blue: var(--muted-blue);
    --color-muted: var(--muted);
}

html {
    scroll-behavior: smooth;
}

body {
    isolation: isolate;
    color: var(--text-main);
    background: var(--bg-main);
    font-family: var(--font-raleway), sans-serif;
}

button {
    cursor: pointer;
}

h2 {
    @apply font-extrabold text-text-main text-2xl;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    left: 0;
    width: 0;
    height: 2px;
    bottom: -2px;
    position: absolute;
    transition: width ease 0.3s;
    background: var(--primary);
}
.nav-link:hover::after {
    width: 100%;
}
